*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  /* background-color: #eec0c6; */
  /* background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%); */
  background: #d0e4f5 url('https://wallpapercave.com/wp/wp2895257.png')
    no-repeat scroll -50px -5px;
}

input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid brown;
  background-color: transparent;
  font-size: 1.1rem;
}

legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0.45rem 1rem;
  border-radius: 9rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: darken(#0cf, 15%);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

button:hover {
  color: #73e977;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 18%,
    rgba(252, 70, 70, 0.41358541707698704) 91%
  );
}

fieldset {
  font-size: 1.1rem;
}

h3 {
  margin: 0px 0px;
}

h3:first-letter {
  text-transform: uppercase;
}

table {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.cards {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: 40%;
  grid-template-rows: minmax(110px, auto) repeat(2, 110px);
}

@media (max-width: 700px) {
  .cards {
    grid-template-columns: 90%;
  }
}

.card-body {
  text-align: center;
  text-justify: inter-word;
  border: 13px rgba(255, 105, 98, 0.7) double;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  background-color: rgba(244, 116, 33, 0.25);
  backdrop-filter: blur(5px);
}

#weather-location {
  color: #17469e;
}
